/* ----------------------------------------------
Reset
------------------------------------------------*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; box-sizing:border-box; -webkit-box-sizing:border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
table {border-collapse:separate; border-spacing:0; table-layout:fixed;}

/* ----------------------------------------------
landing main
------------------------------------------------*/

/* ---- common ---- */
.restrict {text-overflow:ellipsis; overflow:hidden; white-space:nowrap;} /*  */
.required {display:inline-block; vertical-align:middle; color:#ffff00;} /*  */
.ui-tooltip { position:absolute; background:rgba(0,0,0,0.6); color:#FFF; border-radius:20px; padding:0 16px; line-height:26px; display:block; font-size:14px; z-index:9999;} /*jquery ui*/
.filter_blur {filter:blur(6px); -webkit-filter:blur(6px)}
.filter_blur10 {filter:blur(10px); -webkit-filter:blur(10px)}
.sr-only {position:absolute; width:1px; height:1px; margin:-1px; padding:0; overflow:hidden; border:0; clip-path:inset(50%);clip:rect(0 0 0 0);}

/* input */
input[data-status] {border:1px solid #ddd; border-radius:6px; font-size:16px; color:#1C1C1C; padding:0 8px; height:50px; outline:none; background:#fff; width:100%; box-sizing:border-box;}
input[data-status="confirm"] {border:1px solid var(--main-color);}
input[data-status="confirm"] ~ .desc {color:var(--main-color);}
input[data-status="warning"] {border:1px solid #EF4444; color:#EF4444;}
input[data-status="warning"] ~ .desc {color:#EF4444;}
input:focus {}
input:disabled {background:#ddd; border:1px solid #C7C7C7; text-shadow:1px 1px 0px rgba(255,255,255,1); }

/* ----------------------------------------------
BUTTON
------------------------------------------------*/
button {margin:0; padding:0; border:none; font-size:12px; cursor:pointer; background:none; outline:none; appearance:none; -webkit-font-smoothing:antialiased; transition: all 0.2s ease 0s; }
button.button {display:block; position:relative; overflow:hidden;}
button.button:hover,
button.button:focus {}
button.button:hover {}
button.button:active {}
button.button:disabled {opacity:0.5; cursor:not-allowed; filter:grayscale(1);}
button.button:disabled:hover {}

/* option - color */ 
button.button.prime {background:var(--main-color); color:#FFF;}
button.button.white {background:#fff; color:#1C1C1C;}
button.button.gray {background:#ECECEC; color:#1C1C1C;}
button.button.dark {background:#000; color:#fff;}
button.button.clearDark {background:rgba(0,0,0,0); color:#333;}
button.button.clearWhite {background:rgba(0,0,0,0); color:#fff;}



/* option - shap */
button.button.round {border-radius:30px;}
button.button.square {border-radius:6px;}
button.button.circle {border-radius:50%;}

/* option - btnType */
button.button.sBtn {padding:6px 20px; font-size:12px;}
button.button.mBtn {padding:8px 20px; font-size:12px;}


button.button.fw, .button .fw {width:calc(100% - 0px) !important;}
