@charset "utf-8";
/* ----------------------------------------------
Reset
------------------------------------------------*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; box-sizing:border-box; -webkit-box-sizing:border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
table {border-collapse:separate; border-spacing:0; table-layout:fixed;}

/* 
font Setting
------------------------------------------------*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
html, body {font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}


/* var
------------------------------------------------*/
:root {
    --main-color:#6451F6;
}

/* ---- Scroll bar - Chrome ---- */
/* ::-webkit-scrollbar {height:10px; width:10px}
::-webkit-scrollbar-thumb {background:rgba(0, 0, 0, 0.3); background-clip:padding-box; border:2px solid transparent; border-radius:20px} */

/* ---- Form ---- */
/* input -common- */
input::-webkit-input-placeholder {color:rgba(145, 157, 170,0.6);}
/* label {font-size:0; display:none;} */

/* input */
input[data-status] {border:1px solid #ECECEC; border-radius:6px; font-size:14px; color:#1C1C1C; padding:0 8px; height:34px; outline:none; background:#FAFAFA; width:100%; box-sizing:border-box;}
input[data-status="confirm"] {border:1px solid var(--main-color);}
input[data-status="warning"] {border:1px solid #EF4444; color:#EF4444; background:url(../images/window/input_warning.svg) no-repeat center right #FAFAFA;}
input:focus {}
input:disabled {background:#f8f8f8; text-shadow:1px 1px 0px rgba(255,255,255,1); }


/* .inputWrap {display:table; width:100%;}
.inputWrap .addon {display:table-cell; vertical-align:top; border-radius:3px; font-size:14px; width:1%; white-space:nowrap; box-sizing:border-box;}
.inputWrap .addon span.hding {display:inline-block; vertical-align:top; line-height:34px; padding:0 12px; border:1px solid #e9e9f0; background:#f8f8f8;}
.inputWrap .addon span.hding label,
.inputWrap .addon span.hding label:before {vertical-align:top;}
.inputWrap .addon:first-child {}
.inputWrap .addon:first-child .hding {border-radius:3px 0px 0px 3px; border-right:0;}
.inputWrap .addon:last-child {}
.inputWrap .addon:last-child .hding {border-radius:0px 3px 3px 0px; border-left:0;}
.inputWrap .addon span.i:before {vertical-align:top; font-size:20px;}
.inputWrap .addon button {line-height:32px; margin:0; padding:0 12px;}
.inputWrap input {display:table-cell;}
.inputWrap input:first-child {border-radius:3px 0px 0px 3px; border-right:0px; margin-right:-1px;}
.inputWrap input:last-child {border-radius:0px 3px 3px 0px; border-left:0px; margin-left:-1px;} */

/* input -option label animated- */
/* .inputWrap.label {position:relative;}
.inputWrap.label label {position:absolute; bottom:10px; left:0px; display:block; font-size:14px; text-align:left; color:rgba(255, 255, 255, 0.6); transition:0.2s; pointer-events:none;}
.inputWrap.label input { border:0px; border-bottom:1px solid #ddd; border-radius:0; background:none; margin-top:20px;}
.inputWrap.label input:focus {border-bottom:1px solid #5d9cec;}
.inputWrap.label input:focus ~ label, .inputWrap.label input:valid ~ label  {bottom:40px; left:0px; font-size:12px; color:#5d9cec;}
.inputWrap.label input:disabled {border-bottom:1px solid #eee;}
.inputWrap.label input:disabled ~ label {color:#ddd; } */

/* radio , checkbox
-------------------------------------*/
/* .opt input[type=radio]+label:before,
.opt input[type=checkbox]+label:before {display:inline-block; font-family:'Material-Design-Icons'; vertical-align:middle; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
.opt input[type=radio], input[type=checkbox] {display:none;}
.opt input[type=radio]+label,
.opt input[type=checkbox]+label {display:inline-block; font-size:14px; vertical-align:middle; cursor:pointer;}
.opt input[type=radio]+label span.text, input[type=checkbox]+label span.text {display:inline-block; vertical-align:initial; margin:0 4px; color:#6e768f;}
.opt input[type=radio]+label:before, input[type=checkbox]+label:before {display:inline-block; color:#88939a; font-size:30px; vertical-align:middle;}
.opt input[type=radio]+label:hover:before, input[type=checkbox]+label:hover:before {color:#427bfd;}
.opt input[type=radio]:disabled+label, input[type=checkbox]:disabled+label {cursor:default;}
.opt input[type=radio]:disabled+label:before, input[type=checkbox]:disabled+label:before {color:#ddd;}
.opt input[type=radio]+label:before {content:'\f26c';}
.opt input[type=radio]:checked+label:before {content:'\f26f'; color:#427bfd;}
.opt input[type=checkbox]+label:before {content:'\f131'; font-size:21px;}
.opt input[type=checkbox]:checked+label:before {content:'\f132'; color:#427bfd;} */

/* input - file */
/* .inputFile {}
.inputFile input {position:absolute; width:0px; height:0px; overflow:hidden; opacity:0; z-index:-1;}
.inputFile input:focus + label, .inputFile input + label:hover{background:#f8f8f8;}
.inputFile input + label {display:inline-block; width:100%; cursor:pointer; padding:0; border:1px solid #ddd; border-radius:3px; color:#333; background:#FFF; position:relative;}
.inputFile input + label span {display:block; width:80%; text-align:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding:0 10px;}
.inputFile input + label strong {display:block; color:#333; border-left:1px solid #ddd; position:absolute; top:0; right:0; background:#FFF; border-radius:0 3px 3px 0; padding:0 20px;}
.inputFile input + label span,
.inputFile input + label strong {height:36px; line-height:36px; font-size:14px;} */



/* textarea */
/* textarea {border:1px solid #ddd; border-radius:3px; font-size:14px; padding:8px; outline:none; color:#333; width:calc(100% - 18px);}
textarea:focus {background:#f8f8f8;}
textarea:disabled {background:#f8f8f8; text-shadow:1px 1px 0px rgba(255,255,255,1); } */

/* ----------------------------------------------
GLOBAL class
------------------------------------------------*/
/* ---- common ---- */
.restrict {text-overflow:ellipsis; overflow:hidden; white-space:nowrap;} /*  */
.required {display:inline-block; vertical-align:middle; color:#ffff00;} /*  */
.ui-tooltip { position:absolute; background:rgba(0,0,0,0.6); color:#FFF; border-radius:20px; padding:0 16px; line-height:26px; display:block; font-size:14px; z-index:9999;} /*jquery ui*/
.filter_blur {filter:blur(6px); -webkit-filter:blur(6px)}
.filter_blur10 {filter:blur(10px); -webkit-filter:blur(10px)}
.sr-only {position:absolute; width:1px; height:1px; margin:-1px; padding:0; overflow:hidden; border:0; clip-path:inset(50%);clip:rect(0 0 0 0);}




/* ---- multiModal ----*/
.multiModal {position:fixed; top:0px; left:0px; right:0px; bottom:0px; z-index:99; display:flex; justify-content:center; align-items:center; /* */ display:-webkit-flex; -webkit-justify-content:center; -webkit-align-items:center; /* */ display:-ms-flexbox; -ms-flex-pack:center; -ms-flex-align:center;}
.multiModal .dim {position:fixed; top:0px; left:0px; right:0px; bottom:0px; background:rgba(0,0,0,0.4); z-index:1;}
.multiModal .modalBox {width:500px; background:#FFF; border-radius:4px; box-shadow:0 2px 8px rgba(0, 0, 0, 0.4); position:relative; z-index:2; animation:showPop 0.2s;-webkit-animation:showPop 0.2s;}
.multiModal .modalBox.alert {width:300px;}
.multiModal .modalBox.medium {width:800px;}
.multiModal .modalBox.big {width:1200px;}
.multiModal .modalBox .mbHeader {padding:10px; border-bottom:1px solid #eee; display:flex; justify-content:space-between; align-items:center; /* */ display:-webkit-flex; -webkit-justify-content:space-between; -webkit-align-items:center; /* */ display: -ms-flexbox; -ms-flex-pack:justify; -ms-flex-align: center;}
.multiModal .modalBox .mbHeader h2 {font-size:14px; font-weight:bold; text-indent:4px;}
.multiModal .modalBox .mbHeader .tools {}
.multiModal .modalBox .mbBody {overflow:auto;}
.multiModal .modalBox .mbBody .mbBodyContents {padding:20px;}
.multiModal .modalBox .buttonWrap {padding:10px; border-top:1px solid #eee; text-align:center;}

@keyframes showPop {0% {transform:scale(0.8);-webkit-transform:scale(0.8);}100% {transform:scale(1);-webkit-transform:scale(1);}}
@-webkit-keyframes showPop {0% {transform:scale(0.8);-webkit-transform:scale(0.8);}	100% {transform:scale(1);-webkit-transform:scale(1);}}

/* ----------------------------------------------
COLUM
------------------------------------------------*/



/* ----------------------------------------------
BUTTON
------------------------------------------------*/
button {margin:0; padding:0; border:none; font-size:12px; cursor:pointer; background:none; outline:none; appearance:none; -webkit-font-smoothing:antialiased; transition: all 0.2s ease 0s; }
button.button {display:block; position:relative; overflow:hidden;}
button.button:hover,
button.button:focus {}
button.button:hover {}
button.button:active {}
button.button:disabled {opacity:0.5; cursor:not-allowed; filter:grayscale(1);}
button.button:disabled:hover {}

/* option - color */ 
button.button.prime {background:var(--main-color); color:#FFF;}
button.button.white {background:#fff; color:#1C1C1C;}
button.button.gray {background:#ECECEC; color:#1C1C1C;}
button.button.dark {background:#000; color:#fff;}
button.button.clearDark {background:rgba(0,0,0,0); color:#333;}
button.button.clearWhite {background:rgba(0,0,0,0); color:#fff;}



/* option - shap */
button.button.round {border-radius:30px;}
button.button.square {border-radius:6px;}
button.button.circle {border-radius:50%;}

/* option - btnType */
button.button.sBtn {padding:6px 20px; font-size:12px;}
button.button.mBtn {padding:8px 20px; font-size:12px;}


button.button.fw, .button .fw {width:calc(100% - 0px) !important;}

/* ----------------------------------------------
SWITCH
------------------------------------------------*/
/* switch */
.switch {display:inline-block; position:relative; width:34px; height:20px; border-radius:20px; vertical-align:middle;}
.switch input {position:absolute; z-index:1; left:0; width:100%; height:100%; opacity:0; margin:0; cursor:pointer;}
.switch .switch_input:checked ~ .switch_label {background:var(--main-color);}
.switch .switch_input:checked ~ .switch_label:before {opacity:0;}
.switch .switch_input:checked ~ .switch_label:after {opacity:0;}
.switch .switch_input:checked ~ .switch_handle {left:17px;}
.switch .switch_label {display:block; position:relative; height:inherit; border-radius:inherit; background:#d5d5d5; font-size:10px; cursor:pointer; transition:0.15s ease-out;-webkit-transition:0.15s ease-out;}
.switch .switch_label:before, .switch_label:after {position:absolute; top:2px; opacity:0; transition:inherit;-webkit-transition:inherit;}
.switch .switch_label:before {content:attr(data-off); right:10px; color:rgba(255,255,255,0.5); font-weight:bold;}
.switch .switch_label:after {content:attr(data-on); left:10px; opacity:0; color:#fff; font-weight:bold;}
.switch .switch_handle {position:absolute; top:3px; left:3px; width:14px; height:14px; border-radius:10px; background:#fff; cursor:pointer; transition:left 0.15s ease-out;-webkit-transition:left 0.15s ease-out;}
.switch .switch_handle:before {content:''; display:none; position:absolute; top:50%; left:50%; width:20px; height:20px; margin:-10px 0 0 -10px; border-radius:50%; background:#cf0652;}
.switch .switch_input:disabled ~ .switch_label,
.switch .switch_input:disabled ~ .switch_handle {cursor:default;}

/* switch mini */
.switch.mini {width:30px; height:12px;}
.switch.mini .switch_handle {top:2px; left:2px; width:8px; height:8px;}
.switch.mini .switch_input:checked ~ .switch_handle {left:20px;}

/* switch disable */
.switch.disabled .switch_input:disabled ~ .switch_label {background:#ddd;}
.switch.disabled .switch_label:before {display:none;}
.switch.disabled .switch_handle,
.switch.disabled .switch_input:disabled ~ .switch_label:after {display:none;}

/* ----------------------------------------------
TABLE
------------------------------------------------*/
/* table */
.tableWrap {}
.tableWrap table {border-bottom:1px solid #D8D8D8; color:#666; width:100%; font-size:14px;}
.tableWrap table caption {display:none;}
.tableWrap table tbody {background:#fff;}
.tableWrap table tr th,.tableWrap table tr td {padding:10px; border:0; vertical-align:middle; text-align:left; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; position:relative;}
.tableWrap table thead tr th {border-bottom:1px solid #DBDBDB; font-weight:bold; }
.tableWrap table tbody tr td{border-top:1px solid #f0f0f0;}
.tableWrap table tr th.left, .tableWrap table tr td.left {text-align:left;}
.tableWrap table tr th.center, .tableWrap table tr td.center {text-align:center;}
.tableWrap table tr th.right, .tableWrap table tr td.right {text-align:right;}
/* option odd/even */
.tableWrap.even table tbody tr:nth-child(even) {background:#f4f4f4;}
.tableWrap.odd  table tbody tr:nth-child(odd)  {background:#f4f4f4;}

/* option line */
.tableWrap.box table {border:1px solid #DBDBDB;}
.tableWrap.line table thead tr th, .tableWrap.line table tbody tr td {border-left:1px solid #f0f0f0;}
.tableWrap.line table thead tr th:first-child, .tableWrap.line table tbody tr td:first-child {border-left:0px;}

/* ----------------------------------------------
pagination
------------------------------------------------*/
/* pagination */
.pagination {margin:10px 0; text-align:center; line-height:normal; font-size:0px;}
.pagination a {display:inline-block; vertical-align:middle; position:relative; z-index:2; background:#FFF; color:#767676; font-size:16px; text-decoration:none; letter-spacing:0px; word-spacing:0px; height:36px; line-height:36px; text-align:center; padding:0 14px; border:1px solid #dbdbdb; margin-left:-1px; }
.pagination a:hover {background:#f8f8f8; color:#767676;}
.pagination a.active {background:#3f93ff; color:#fff; border:1px solid #3f93ff; z-index:3;}
.pagination .direction {font-size:20px; padding:0 20px;}
.pagination .prev {border-radius:4px 0 0 4px;}
.pagination .next {border-radius:0 4px 4px 0 }

/* ----------------------------------------------
LODER
------------------------------------------------*/
/* loader */
.loading {overflow:hidden;}
.loading:before {content:""; position:absolute; top:50%; left:50%; width:60px; height:60px; border-radius:50%; margin:-40px 0 0 -40px; z-index:999;
border-top:4px solid var(--main-color);
border-right:4px solid rgba(255, 255, 255, 0);
border-bottom:4px solid var(--main-color);
border-left:4px solid rgba(255, 255, 255, 0);
font-size:10px;
transform:translateZ(0);
animation:load 0.6s infinite linear;
-webkit-transform:translateZ(0);
-webkit-animation:load 0.6s infinite linear;
-ms-transform:translateZ(0);
}


/* header loader */
.sync:before {content:""; display:block; width:14px; height:14px; border-radius:50%; z-index:999;
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgba(255, 255, 255, 0);
    font-size:10px;
    transform:translateZ(0);
    animation:load 0.6s infinite linear;
    -webkit-transform:translateZ(0);
    -webkit-animation:load 0.6s infinite linear;
    -ms-transform:translateZ(0);
}

@-webkit-keyframes load {
    0% {transform:rotate(0deg);-webkit-transform:rotate(0deg);}
    100% {transform:rotate(360deg);-webkit-transform:rotate(360deg);}
}
@keyframes load {
    0% {transform:rotate(0deg);-webkit-transform:rotate(0deg);}
    100% {transform:rotate(360deg);-webkit-transform:rotate(360deg);}
}

/* ----------------------------------------------
JQUERY UI
------------------------------------------------*/
.ui-helper-hidden-accessible {display:none;}



/* ----------------------------------------------
PLUGIN
------------------------------------------------*/
/* Tooltip -Styles */
.tooltip {padding:5px; background-image:url(../images/gui/tooltip.gif); background-repeat:no-repeat; opacity:0.85; font-size:11px; filter:alpha(opacity=85);}
.tooltip-inner {max-width:200px; padding:5px 10px; border-radius:3px; background:#000; box-shadow:0 0 3px rgba(0, 0, 0, 0.25); color:white; text-align:center; pointer-events:none;}
.tooltip-bottom {background-position:top center;}
.tooltip-top {background-position:bottom center;}
.tooltip-left {background-position:right center;}
.tooltip-right {background-position:left center;}

/* context-menu */
.nu-context-menu {display:block;position: absolute; z-index:9999; width:0;height:0; overflow:hidden; border-radius:2px; opacity:0;}
.nu-context-menu.active{width:auto;height:auto;opacity:1;}
.nu-context-menu ul{padding:4px; border-radius:6px; border-radius:6px; background:rgba(255, 255, 255, 0.8); box-shadow:0px 4px 14px 0px rgba(0, 0, 0, 0.4); list-style:none; font-size:12px; text-align:left; backdrop-filter:blur(10px);}
.nu-context-menu ul li {clear:both; padding:0px 40px 0px 10px; color:#333; font-weight:bold; line-height:34px; border-radius:4px; white-space:nowrap; cursor:pointer;}
.nu-context-menu ul li i {display:inline-block; width:20px; font-weight:normal; font-size:14px; display:none;}
.nu-context-menu ul li:hover{background:var(--main-color); color:#fff;}
.nu-context-menu ul hr{height:1px;margin:0;border:0;background:#e8e8e8;color:#e8e8e8;}


