/* ----------------------------------------------
APP UI - pixlr
------------------------------------------------*/
/* #window_pixlr .winHeader .title .appName {color:#999;}
#window_pixlr .winHeader .control button:hover {background:#333;}
#window_pixlr .winBody {height:calc(100% - 38px);}
#window_pixlr .winBody .winContainer iframe {background:#3b3b3b;} */

